@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

cite,
time {
  all: unset;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--white-900);
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

li {
  list-style: none;
}

:root {
  /* COLORS */
  --black-900: #000000;
  --black-100: rgba(0, 0, 0, 0.3);
  --black-400: rgba(0, 0, 0, 0.8);
  --white-900: #ffffff;
  --white-100: rgba(255, 255, 255, 0.3);
  --grey-400: #e6d4bf;
  --red-900: #c91e10;
  --yellow-900: #f1e500;
  --yellow-400: rgb(255, 176, 72);

  /* SPACING */
  --p-block-spacing: 2rem;
  --box-block-padding: 1.5rem;
  --global-inline-padding: max(2rem, calc((100vw - 1440px) / 2));

  /* FONT SIZES */
  --fs-1: 32px;
  --fs-2: 24px;
  --fs-3: 18px;
  --fs-4: 14px;
  --fs-mega: 38px;
  --fs-body: 16px;
}

.blur-box {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #920101 #2b2b2b;
}

@media (max-width: 768px) {
  :root {
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 16px;
    --fs-4: 12px;
    --fs-mega: 28px;
    --fs-body: 14px;
  }
}

@media (max-width: 750px) {
  .blur-box {
    padding: 1rem;
  }
}
